/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 12:20:07 PM
    Author     : nliesmanto
*/

body {
        background-color: tan;
}


table {
     border-collapse: collapse;
     padding: 15px;
     border: 10px solid white;
     margin-left: 0px;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid white;
    border-bottom:2px solid #ccc;
}

th {
    color: silver;
    height: 50%;
    text-align: left;
    vertical-align: bottom;
    background-color: #ffff99;
}

tr:nth-child(even) {
    color: white;
    background-color: coral;
}

tr:nth-child(odd) {
    color: white;
    background-color: coral;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    color: #818080;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: help;
}

a:hover {
    color: black
}